﻿@inject Microsoft.ApplicationInsights.AspNetCore.JavaScriptSnippet JavaScriptSnippet
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - IDESGrp</title>

    <script>
        function resizeFooterElementWidth(element) {
            var width = 150;
            var body = window.document.body;
            if (windows.innerWidth)
            {
                width = min(windows.innerWidth/3, 150)
            }
            element.style.width = width;
        }
    </script>

    <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
    @Html.Raw(JavaScriptSnippet.FullScript)
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">IDESGrp</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="About">About</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="Contact">Contact</a></li>
                </ul>
                @await Html.PartialAsync("_LoginPartial")
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />

        <footer style="background-color:black; color:white; vertical-align:middle">
            <table style="width:100%">
                <tr style="width:100%">
                    <td style="vertical-align:top; max-width: 35%" align="left">
                            <img class="footerImage" src="~/images/oid-l-certification-mark-l-rgb-150dpi-90mm.png"
                                 alt="OpenID Certification mark" title="Link to the OpenID certification page" onclick="window.location.href ='http://openid.net/certification/'" />
                    </td>
                    <td style="padding:0 14px">
                        This web site has been created to demonstrate compliance with the IDESG Framework and the OpenID Basic RP certification. &copy; @DateTime.Now.Year - Tom Jones
                    </td>
                    <td style="vertical-align:top; max-width:30%" align="right">
                            <img class="footerImage" src="~/images/IDEF-reg-black.png"
                                 alt="IDEF mark" title="Link to the IDEF registry" onclick="window.location.href ='http://idefregistry.org'" />
                    </td>
                </tr>
            </table>
        </footer>
    </div>

    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    <script type="text/javascript">
        function resize()
        {
            var elems = document.getElementsByClassName('footerImage');
            var widt = elems[0].Height;
            for (var i = 0; i < elems.length; i++)
            {
                elems[i].style.Height= 33;
            }
            var widt = Math.min(screen.width / 3, 19950);
            elems[0].Height = 33;
            var txt = "<p>Screen width: " + screen.width + " image width: " + widt + " " + elems[0].Height + "</p>";
            debugger;
            document.getElementById("wid").innerHTML = txt;
        }
 //       window.onload = function () {
 //           resize()
 //       }
    </script>

    @RenderSection("Scripts", required: false)
</body>
</html>
