﻿@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<div>
    <p>
        The purpose of this site is to provide an IDESG compliant example of a working relying party web site
        that can be used by anyone desiring to create their own compliant web site.
    </p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Protocol</h2>
        <p>
            The protocol implemented in this example is OpenID connect, which is the most commonly used protocol
            by the largest Identity Providers at the time this example was written . It is possible to extend this code to use any protocol.
        </p>
        <p>
            <a class="btn btn-default" title="IDESG site for the OpenID Connect protocol" href="https://wiki.idesg.org/wiki/index.php?title=OpenID_Connect_Basic_1.0">
                OpenID Connect Impelmenters Guideline &raquo;
            </a>
        </p>
        <p>
            The OpenID Connect standard is more of a guideline that is independantly implemented by many IdPs with different terminology, requirments
            and even permissible character sets. The ASP.NET framework comes with some modules implemented for Twitter, Google, FaceBook and Microsoft.
            Other IdPs are likely to require special code as each of them become available. The good news for a open standard like this one is that
            other implementers are likely to have already addressed those new IdPs in modules available for free on the web.
        </p>
        <p>
            The Basic Functional Requirement of the IDEF registry requires that open standard protocols be used for interoperability.
            <a class="btn btn-bfr" title="Navigate to Interop-4 requirement"
               href="https://wiki.idesg.org/wiki/index.php?title=Interop_Req_4">Standard Data Exchange &raquo;</a>
        </p>
    </div>

    <div class="col-md-4">
        <h2>User Agents</h2>
        <p>
            Web sites like this example are designed to work with a variety of browsers of all sizes and orientations. This is achieved in the example by dividing
            the content into panels that can be rearranged by the browser in horizontal or vertical stacking depending on the size and
            orientation of the device displaying the content. Since the web is constantly changing and the information that was displayed
            to the user cannot easily be recovered should there be any dispute about what the user actually agreed to, the common browser will
            need to be replaced with a more trustworthy user agent before it will be possible for the relying party to make any sort of claim
            about what information the user intended to release to the RP and for what purposes. Stay tuned for more on that to come in the future.
        </p>
        <p>
            <a class="btn btn-default" title="IDESG site for the OpenID Connect protocol" href="https://wiki.idesg.org/wiki/index.php?title=OpenID_Connect_Basic_1.0">
                Need a good link here &raquo;
            </a>
        </p>
    </div>

    <div class="col-md-4">
        <h2>Data Retention</h2>
        <p>
            Two basic functional requirments apply to data retention. In part this is because of two data collections
            that are often created with little understanding of the impact each has on security and on privacy.
            The SQL data base contains user's personal information that should be collected with the users' intent
            clearly recognized and honored. The log files contain user's personal information as well, but that collection
            does not consider the user's intent. Also not that thee will be business an legal reqirement that require data
            retention where payment or court ordered disclouse mandates that data be available to support future evaluation
            of past actions. It is even required by privacy regulation that data proving compliance is retained.
            Still it is important the the privacy of the information is resptected.
            With those ideas in mind let's look at the two requirents.
        </p>
        <p>
            Privacy concerns mandate that no data be retained that is not needed for purposes that the user intends.
            <a class="btn btn-bfr" title="Navigate to Privacy Requirement 1" href="https://wiki.idesg.org/wiki/index.php?title=Privacy_Req_1">
                Data Minimization &raquo;
            </a>
        </p>
        <p>
            Security concerns mandate that no data is deleted that might help understand whether past activity was unlawful or harmful.
            <a class="btn btn-bfr" title="Navigate to Security Requirement 14" href="https://wiki.idesg.org/wiki/index.php?title=Secure_Req_14">
                Security Logs &raquo;
            </a>
        </p>
    </div>
    <div class="col-md-4">
        <h2>Federated Identity</h2>
        <p>
            Since this example will accept authentication tokens from Google and FaceBook as well as from an
            internal data store, it could be considered to support &quot;Federated Identity Management&quot;.
            A word of warning is in order since many uses of the term Federated Identity come with requirements
            on the Identity Provider (IdP) that go beyond the traditional meaning of identity. For example there
            may be attributes about the method used to &quot;proof&quot; the real world person that is
            referenced by the identifier, or that the identifier is only used for individuals that are
            employees of the organization running the IdP. Either of these could be supported by this
            example if the developer limits the IdP included to those that require the desired attributes.
            The NIST has published a draft Internal Report (8149) that defines &quot;Trust Frameworks&quot;
            that could support any degree of trust that the developer might be required to include in a
            real world implementation of an RP. Just note that using Google, or similar IdPs, will not support that
            level of attribute verification. Properly speaking attribute verification is the provenance of
            Authorization, which is only avilable here by use of the tag [Authorize] in a controller to give access
            to a particular web page. It is possible to modify that tag to include the spefic user roles that are authorized.
        </p>
        <p>
            <a class="btn btn-default" title="Get information on federating with Facebook, Twitter, LinkedIn and Google"
               href="https://www.asp.net/mvc/overview/security/create-an-aspnet-mvc-5-app-with-facebook-and-google-oauth2-and-openid-sign-on">
                Learn More &raquo;
            </a>
        </p>

    </div>

    <div class="col-md-4">
        <h2>Federating with Google</h2>
        <p>
            Before trying to add Google as an Identity Provider (IdP) it is necessary to register your web site with them.
            One item that seems to be required for the ASP.NET code is to select Google+ API.
            Otherwise you will get an error when the Google button is clicked on the website login page.
        </p>
        <p>
            <a class="btn btn-default" title="Get information on federating with Google" href="https://console.developers.google.com/apis/credentials">
                Google registration &raquo;
            </a>
        </p>
        <p>
            Privacy concerns mandate that no more data is requested from Google than is required for this applicaton. It is incumbent on the RP code
            to verify the request packet sent for data that is actually required.
            <a class="btn btn-bfr" title="Navigate to Privacy Requirement 1" href="https://wiki.idesg.org/wiki/index.php?title=Privacy_Req_1">
                Data Minimization &raquo;
            </a>
        </p>
    </div>

    <div class="col-md-4">
        <h2>Federating with FaceBook</h2>
        <p>
            Before trying to add FaceBook as an Identity Provider (IdP) it is necessary to register your web site with them.
            When running tests with developers, the site can continue to be marked private, which is the default.
            As soon as you want to start beta testing with non-admin users the site need to be marked as public.
            This is a simple yes/no selector on the review-status page.
        </p>
        <p>
            <a class="btn btn-default" title="Get information on federating with Facebook" href="https://developers.facebook.com/products/login">
                FaceBook registration &raquo;
            </a>
        </p>
        <p>
            Privacy concerns mandate that no more data is requested from FaceBook than is required for the applicaton. It is incumbent on the RP code
            to verify the request packet sent for data that is actually required.
            <a class="btn btn-bfr" title="Navigate to Privacy Requirement 1" href="https://wiki.idesg.org/wiki/index.php?title=Privacy_Req_1">
                Data Minimization &raquo;
            </a>
        </p>
    </div>

</div>